.book {
    width: 50px;
    height: 144px;
    background: #0fb82c;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;

    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.correct {
    background: #0fb82c;
}

.gapped {
    background: #1f7fff;
}

.misplaced {
    background: #ed4a28;
}

.rehabilitated {
    background: #0fb82c;
}

.BAD {
    width: 50px;
    height: 144px;
    background: #000000;
    margin-right: 5px;
    float: left;
}

.bookLeftHalf {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.bookRightHalf {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.leftTrue {
    width: 45px;
    height: 144px;
    background: #0fb82c;
    margin-right: 0px;
    float: left;
}

.leftFalse {
    width: 45px;
    height: 144px;
    background: #ed4a28;
    margin-right: 0px;
    float: left;
}

.rightTrue {
    width: 45px;
    height: 144px;
    background: #0fb82c;
    margin-right: 5px;
    float: left;
}

.rightFalse {
    width: 45px;
    height: 144px;
    background: #ed4a28;
    margin-right: 5px;
    float: left;
}

.missing {
    width: 90px;
    height: 144px;
    background: #c3e713;
    margin-right: 5px;
    float: left;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}