.callnumber{

}

.placement{

}

.correct {
    width: 50px;
    height: 144px;
    background: #23d405;
    margin-right: 5px;
    float: left;
}

.gapped {
    width: 50px;
    height: 144px;
    background: #FF00D0;
    margin-right: 5px;
    float: left;
}

.misplaced {
    width: 50px;
    height: 144px;
    background: #b82c0f;
    margin-right: 5px;
    float: left;
}

.rehabilitated {
    width: 50px;
    height: 144px;
    background: #FFFB00;
    margin-right: 5px;
    float: left;
}

.BAD {
    width: 144px;
    height: 144px;
    background: #FF00CC;
    margin-right: 48px;
    float: left;
}

.missing {
    width: 50px;
    height: 144px;
    background: #668cd2;
    margin-right: 5px;
    float: left;
}