.leftTrue {
    width: 45px;
    height: 144px;
    background: #34FA11;
    margin-right: 0px;
    float: left;
}

.leftFalse {
    width: 45px;
    height: 144px;
    background: #FF0000;
    margin-right: 0px;
    float: left;
}


.rightTrue {
    width: 45px;
    height: 144px;
    background: #34FA11;
    margin-right: 5px;
    float: left;
}

.rightFalse {
    width: 45px;
    height: 144px;
    background: #FF0000;
    margin-right: 5px;
    float: left;
}
