body
{
	background: #ffffff;
	font-family: 'EB Garamond', serif;
}
a, h1, h2
{
	color: #000000;
	text-decoration: none;
}
h1, h2
{
  font-family: 'Open Sans Condensed', sans-serif;
	margin: 0px;
}
h2
{
	font-size: 1.2em;
}
.header
{
	margin: 0;
	padding: 0.3em;
	background: #fafafa;
	border-bottom: 1px solid #000000;
}
.metanav
{
	text-align: right;
	font-size: 0.8em;
	padding: 0.3em;
	margin-bottom: 1em;
}
.page
{
	margin: 2em auto;
	padding: 0.8em;
	width: 40em;
	background: #ffffff;
}
.entries
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.entries li
{
	margin: 0.8em 0em;
}
.add-entry
{
	font-size: 0.9em;
	border-bottom: 1px solid #cccccc;
}
.add-entry dl
{
	font-weight: bold;
}

.flash
{
	background: #cee5f5;
	padding: 0.5em;
	border: 1px solid #aacbe2;
}
.error
{
	background: #f0d6d6;
	padding: 0.5em;
}