article, aside, footer, header, section {
  display: block;
}
body
{
	background: #F7F7F9;
	/*font-family: 'Droid Serif', serif;*/
}
.row{
  margin-left: 0px;
}
h2
{
	font-size: 1.2em;
}

textarea {
    margin-top:  -5px;
    line-height: 35px;
    height: 200px;
    width: 400px;
}

.navbar .brand{
  color: #000000;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  margin: 0px;
  font-weight: lighter;
	color: #FFFF81;
  font-size: 35px;
  margin-top: -10px;
}

.metanav
{
	text-align: right;
	font-size: 0.8em;
	padding: 0.3em;
	margin-bottom: 1em;
}

.navbar .nav > li > a {
  float: none;
  color: #FFFF81;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.flash
{
	background: #84C282;
	padding: 0.5em;
	border: 1px solid #aacbe2;
}

.post
{
    padding: 0.5em;
    border: 1px solid #aacbe2;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #c68c53;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.error
{
	background: #f0d6d6;
	padding: 0.5em;
}

.header {
  background: #336699;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

/*.fadey {
  display: none;
*/}