{% extends "layout.html" %}
{% block body %}
<div class="row">    
<form action="/adminnew" id="save" method="post">
<input type="hidden" name="table" value="times">
New Time:<input type="text" name="tag">
<input name="save" type="submit" value="Save" /></form>
<table border="1">
{%for row in times %}
  <tr>
    <td>{{row[1]}}</td>
    <td><form action="/adminedit" id="delete" method="post">
    <input type="hidden" name="no" value="{{row[0]}}">
    <input type="hidden" name="table" value="times">
    <input type="submit" name="delete" value="delete"></form></td>
  </tr>
{%endfor%}
</table>
</div>
<div class="row">    
<form action="/adminnew" id="save" method="post">
<input type="hidden" name="table" value="types">
New Type:<input type="text" name="tag">
<input name="save" type="submit" value="Save" /></form>
<table border="1">
{%for row in types %}
  <tr>
    <td>{{row[1]}}</td>
    <td><form action="/adminedit" id="delete" method="post">
    <input type="hidden" name="no" value="{{row[0]}}">
    <input type="hidden" name="table" value="times">
    <input type="submit" name="delete" value="delete"></form></td>
  </tr>
{%endfor%}
</table>
</div>
<div class="row">    
<form action="/adminnew" id="save" method="post">
<input type="hidden" name="table" value="askedbys">
New Asked By:<input type="text" name="tag">
<input name="save" type="submit" value="Save" /></form>
<table border="1">
{%for row in asked %}
  <tr>
    <td>{{row[1]}}</td>
    <td><form action="/adminedit" id="delete" method="post">
    <input type="hidden" name="no" value="{{row[0]}}">
    <input type="hidden" name="table" value="times">
    <input type="submit" name="delete" value="delete"></form></td>
  </tr>
{%endfor%}
</table>
</div>
<div class="row">    
<form action="/adminnew" id="save" method="post">
<input type="hidden" name="table" value="formats">
New Format:<input type="text" name="tag">
<input name="save" type="submit" value="Save" /></form>
<table border="1">
{%for row in formats %}
  <tr>
    <td>{{row[1]}}</td>
    <td><form action="/adminedit" id="delete" method="post">
    <input type="hidden" name="no" value="{{row[0]}}">
    <input type="hidden" name="table" value="times">
    <input type="submit" name="delete" value="delete"></form></td>
  </tr>
{%endfor%}
</table>
</div>
<div class="row">    
<form action="/adminnew" id="save" method="post">
<input type="hidden" name="table" value="locations">
New Location:<input type="text" name="tag">
<input name="save" type="submit" value="Save" /></form>
<table border="1">
{%for row in locations %}
  <tr>
    <td>{{row[1]}}</td>
    <td><form action="/adminedit" id="delete" method="post">
    <input type="hidden" name="no" value="{{row[0]}}">
    <input type="hidden" name="table" value="times">
    <input type="submit" name="delete" value="delete"></form></td>
  </tr>
{%endfor%}
</table>
</div>
<div class="row">    
<form action="/adminnew" id="save" method="post">
<input type="hidden" name="table" value="departments">
New Department:<input type="text" name="tag">
<input name="save" type="submit" value="Save" /></form>
<table border="1">
{%for row in departments %}
  <tr>
    <td>{{row[1]}}</td>
    <td><form action="/adminedit" id="delete" method="post">
    <input type="hidden" name="no" value="{{row[0]}}">
    <input type="hidden" name="table" value="times">
    <input type="submit" name="delete" value="delete"></form></td>
  </tr>
{%endfor%}
</table>

</div>
{%endblock%}