{% extends "layout.html" %}
{% block body %}
<div class="row">
<h2>Relative Position</h2>
<ul class="bookshelf">
{% for book in positioned %}
    <dt class="book {{ book.status }}">{{ book.call_number }}</dt>
{%endfor%}
</ul>
<p>Key:</p>
<p>Green: Correct</p>
<p>Red: Move to the right</p>
<p>Blue: Move to the left</p>
<!-- <p>Purple: Likely Correct</p> -->
</div>
<div>---------------------</div>
<div class="row">
<h2>Objective Position</h2>
<ul class="bookshelf">
{% for book in books %}
    <dt class="bookLeftHalf left{{ book.statusleft }}">{{book.call_number}}</dt>
    <dt class="bookRightHalf right{{ book.statusright }}"></dt>
{%endfor%}
</ul>
<p>Key:</p>
<p>Green: Correct Neighbor</p>
<p>Red: Wrong neighbor</p>
</div>
<div>---------------------</div>
<div class="row">
<h2>MISSING:</h2>
<ul class='bookshelf'>
{% for call_number in missing %}
    <dt class="missing book">{{call_number.call_number}}</dt>
{%endfor%}
</ul>
</div>
{% endblock %}