{% extends "layout.html" %}
{% block body %}
<div class='row'>
<div class="span2">
<h2>Library</h2>
  <table class='table'>
{% for book in books %}
    <tr><td><a href="/edit/{{ book.id }}">{{ book.call_number }}</a></td></tr>
{% else %}
None
{%endfor%}
  </table>
</div>
<div class="span2">
<h2>Lost</h2>
  <table class='table'>
{% for book in lost %}
    <tr><td><a href="/edit/{{ book.id }}">{{ book.call_number }}</a></td>
        <td>{{ book.status or '...' }}</td>
    </tr>
{% else %}
None
{%endfor%}
  </table>
</div>
<div class="span2">

</div>
</div>
{% endblock %}